@page "/OpenAI"
<h3>OpenAI_tools</h3>


<main class="main-temp">
		<div class="cart1">
			<h4> Generative AI</h4>
				<div class="left -image">
				
					<img  />

				</div>

				<div class="right -content">
					<h4> <a href="">    </a></h4>

					<p></p>
				</div>


		</div>

	<div class="cart1 item2">
		<div class="left -image">

			<img />

		</div>

		<div class="right -content">
			<h4> <a href="">    </a></h4>

			<p></p>
		</div>


	</div>


</main>

@code {

}
