@page "/OpenAI"
<h3>OpenAI_tools</h3>


<main class="main-temp">
		<div class="cart1">
			<h4> Generative AI</h4>

			<div class="items-1">
					<div class="left-image">
				
						<img  />

					</div>

					<div class="right-content">
				<h4> <a href="https://openai.com/dall-e-2">  OPENAI DALL·E 2   </a></h4>
				<p>DALL·E 2 is an AI system that can create realistic images and art from a description in natural language.</p>
					</div>
			</div>

		<div class="items-2">
			<div class="left-image">

				<img />

			</div>

			<div class="right -content">
				<h4> <a href="https://openai.com/dall-e-2">  OPENAI ChatGpt   </a></h4>
				<p>ChatGPT is an AI-powered language model developed by OpenAI, capable of generating human-like text based on context and past conversations. </p>
			</div>
		</div>

		</div>

	<div class="cart1 item2">
		<div class="left -image">

			<img />

		</div>

		<div class="right -content">
			<h4> <a href="">    </a></h4>

			<p></p>
		</div>


	</div>


</main>

@code {

}
