@page "/About"

<PageTitle>About-us</PageTitle>

<nav>
	<div class="largeMenu">
		<a class="navbarBrand" href="#">
			<img src="home" alt="LearningWithAbhi_logo">
		</a>
	</div>
</nav>
<div class="grey-white">
	<div class="container">
		<div class="columns">
			<div class="left col-md-5" >
				<div class="card-area">
					<div class="item-1">

						<h4 class="Company-info">About Company</h4>
						<span>
							At GoAbhi.online, we are passionate about empowering learners of all ages to pursue their educational
							aspirations and achieve their full potential. Our platform is designed to provide a diverse range of
							high-quality courses and resources that cater to various learning styles and interests.
						</span>
					</div>
					<div class="item-2 mission-card">
						<h4 class="mission">Company mission</h4>
						<span>
							Our mission is to make education accessible, engaging, and transformative for learners worldwide. We
							strive to create an inclusive learning environment that fosters curiosity, critical thinking, and lifelong learning.
						</span>
					</div>
				</div>
			</div>

			<div class="right col-md-5">
				<div class="card-area">
					<div class="item-3 card-1">
						<h4 class="Inovation">Innovative Learning Tools:</h4>
						<span>
							We embrace technology to enhance the learning journey. We are trying to incorporates my platoform with interactive learning tools,
							multimedia resources, and hands-on activities to make learning enjoyable and effective.
							You'll have the flexibility to study at your own pace and engage with the content in a way that suits you best.
						</span>
					</div>
					<div class="item-4 card-2">
						<h4 class="Community">Community & Support:</h4>
						<span>
							Learning is a collaborative process, and we believe in the power of community support. Connect with fellow
							learners, share ideas, and seek help from peers and instructors through our vibrant learning community.
							Our dedicated support team is also here to assist you every step of the way.
						</span>
					</div>

				</div>
			</div>

		</div>

	</div>
</div>