<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calci</title>
    <link rel="stylesheet" href="../CSS/PageCon.css" />
</head>

<body>

<h1 >  Welcome to calculation world</h1>

<div id="div1">
    You will get a lot of tools to make your calculation easy and effective here.
</div>

    <footer>
        <nav class="navebar">
            <ul>
                <!--    use of link   -->

               <li><a href="../index.html">Home</a></li>
                <li><a href="Education.html" target="_self">Education</a></li>
                <li><a href="Calci.html">Calculation</a></li>
                <li><a href="Entertainment.html">Entertainment</a></li>
                <li><a href="Blogs.html">Blogs</a></li>
                <li><a href="Contct.html">Contact us</a></li>
                <li><a href="About.html" target="_blank">About</a></li>

            </ul>
        </nav>

    </footer>


</body>
</html>