@page "/Contact-US"

<h2>Contact Us</h2>

<p>
    If you have any questions or inquiries, please feel free to get in touch with us using the contact form or the
    contact details below:
</p>

<div class="container">

    <div class="tiles">
        <h3 class="subtitle">By Phone</h3>
        <p class="desc">
            <small>(Monday to Friday, 9am to 6pm IST)</small>
            <br>
            delhi Toll-Free:<br>
            001122344XX
            <br><br>
            Noida Center:<br>
            001122344XX
        </p>
    </div>
    <div class="tiles">
        <h3> Address:</h3>
        <p>
            c29, aplha1 market <br />
            Sector 142, Greater Noid <br />
            Uttar pradesh, 233231    <br />
            <b>mail to : </b> abhishekcpj@gmail.com
        </p>

    </div>
    <div class="tiles">
        <h3 class="subtitle">Submite your query</h3>
        <p class="desc">
            <div>
            <label>Comments:</label>
              <textarea class ="Note-inp" placeholder="Enter your comment"></textarea>
            </div>
            <div>
            <label>Email:   </label>
            <input class="tile-inp" placeholder="Enter your Email" /> 
            </div>
            <button onclick="message()">Submite</button>
            
        </p>
    </div>
</div>





<div class="xyz">
    <NavLink class="nav-link" href="Form">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Please click here for feedbck form
    </NavLink>
</div>