@page "/Contact-US"

<h2>Contact Us</h2>

<p>
    If you have any questions or inquiries, please feel free to get in touch with us using the contact form or the
    contact details below:
</p>

<div class="contact-info">
    <p>Email: Abhishekcpj@educational-site.com</p>
    <p>Phone: +91 9453600000</p>
</div>

<div class="xyz">
    <NavLink class="nav-link" href="Form">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Please click here for feedbck form
    </NavLink>
</div>