@page "/"

@layout MainLayout
@using System.Timers;

<div class="bg-primary-subtle">

    
<div>
   

        <div class="p-3  border bg-primary-">
        <FeatureBlock
            Href="/" 
            Title="Welcome to My Blazor Web Tools" 
            Description="Explore blogs, web tools, and practice automation with ease!"
            Command="Discover Features" 
            ImageSrc="../wwwroot/images/top-blogging-tools2.jpg" 
        />
        </div>
        
         <div class="row"></div>
        <FeatureBlock 
            ImageSrc="https://dotnet.microsoft.com/static/images/illustrations/swimlane-cross-browser.svg" 

            Href="/" 
            Title="Blogs" 
            Description="Stay informed with articles on Blazor, automation, and development insights."
            Command="Read Blogs" 
        />
        
        <FeatureBlock 
            Href="/" 
            Title="Web Tools" 
            Description="Access calculators and other tools to simplify your daily tasks."
            Command="Try Tools" 
            ImageSrc="https://dotnet.microsoft.com/static/images/illustrations/open-source-vibrant-community.svg" 
        />
        
        <FeatureBlock 
            ImageSrc="https://dotnet.microsoft.com/static/images/illustrations/swimlane-csharp-javascript.svg" 

            Href="/Demo" 
            Title="Practice Automation" 
            Description="Test your automation scripts on our specially designed demo page."
            Command="Practice Now" 
        />
    </div>
</div>


@code{
    private string user = "- Abhi";

    private string currentTime = DateTime.Now.ToString("HH:mm:ss");
    private void UpdateClock()
    {
        currentTime = DateTime.Now.ToString("dd-MMM-yyyy HH:mm:ss");
        StateHasChanged(); // Update the UI
    }

    protected override void OnInitialized()
    {
        // Update the clock every second
        var timer = new Timer(1000);
        timer.Elapsed += (sender, e) => UpdateClock();
        timer.Start();
    }
   


}
