@page "/"
@using System.Timers;

<body class="page-body">


<PageTitle>Home - Entry point</PageTitle>



<div class="container">
    <h1 class="welcome">Welcome to the site @user</h1>

    <div class="timestamp">
    <h5>Current Time:</h5>
    <p>@currentTime</p>
    </div>

</div>

<main class="main-container" >
 
    <div class="container-1 educ">
        <h2>Education</h2>
            <p class="content01">
                Education is the process of acquiring knowledge, skills, values, and habits through learning, teaching, or research. So Start learning .....
            </p>
            <button> Enter </button>
    </div>

     <div class="container-1">
        <h2>Blogs </h2>
            <p class="content01">
               Let's share information, opinions, and experiences on the internet. .....
            </p>
            <button> Enter </button>
    </div>


</main>


<SurveyPrompt Title="How is Blazor working for you?" />


</body>

@code{
    private string user = "Abhishek Singh";

    private string currentTime = DateTime.Now.ToString("HH:mm:ss");

    private void UpdateClock()
    {
        currentTime = DateTime.Now.ToString("dd-MMM-yyyy HH:mm:ss");
        StateHasChanged(); // Update the UI
    }

    protected override void OnInitialized()
    {
        // Update the clock every second
        var timer = new Timer(1000);
        timer.Elapsed += (sender, e) => UpdateClock();
        timer.Start();
    }
   


}
