@page "/resume"

<h2 style="align-content:center">Resume</h2>




<address>

	<h3><b>Abhishek Singh </b></h3>
	<b>Contacts:</b> +919453605963  <br />
	<b>E-mail Id:</b> <a href="abhisheksinghcpj@gmail.com">abhisheksinghcpj@gmail.com</a> <br />
	<b>Present addr:</b> Rajput Colony, Shatabdi Enclave,  <br />
	Baraula,Sector 49, Noida, U.P., 201303
	<br />
	
</address>



<dl>
	<dt>CAREER OBJECTIVE :	</dt>    <hr>

	<dd>
		Looking for a challenging role in a reputable organization, to learn the new technology, work
		with different peoples, and utilize my experience and the knowledge to server the organization.
	</dd>



	<dt>EDUCATIONAL QUALIFICATION: </dt>   <hr />
	<dd>

	</dd>
</dl>

@code {

}
