@* @page "/alertdemo"


<button @onclick="#">Show Alert</button>

@if (!string.IsNullOrEmpty(AlertMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @AlertMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@code
{


  private string AlertMessage;

    private void ShowAlert()
    {
        AlertMessage = "Product added successfully!";
    }

     
}
 *@
