@page "/Parentframe"

<h2>this is the Parent frame: #00234 </h2>
<p>
    An inline frame is used to embed another document within the current HTML document. Basic idea of nestedIframe
    is called document should have a frame that will be child frame for called frames
</p>

    <div class="inner-iframe">
        <h5>Inner Iframe 01</h5>
        <iframe src="/chiledframe" width="100%" height="300"></iframe>
    </div>



