
@page "/selectors"


<h1>Different type of Selectors </h1>
<hr>

<div class="css-xpath tiles-hr" >   
    
    <h3>CSS and XPath Locator</h3>
    <p>Access the following input field by using any of selector:  "css selector", "xpath"</p>
    
    <label>User: </label>
    <input type="text" id="text-input">
    <label>Pass: </label>
    <input type="text" id="text-input">

</div>

<div class="linktest-class tiles-hr">

     <h3>Link text and Partial link text Locators</h3>
    <p>Access the below links using "link text" or "partial link text" locator </p>
    <a href="https://abhikpt.github.io/LearningwithAbhi/#">HomePage</a>
    <br/>
    <a href="https://abhikpt.github.io/LearningwithAbhi/Demo">Demo Page</a>

</div>


<div class="tagNames-class tiles-hr">
  <h3>Tag name Locator</h3>
    <p>Grab all the <b>items</b> tags using the "tag name" strategy</p>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </ul>
</div>




  



@code { 
   

}
