
@page "/selectors"


<h1>Different type of Selectors </h1>
<hr>

<div class="css-xpath tiles-hr" >   
    
    <h3>CSS and XPath Locator</h3>
    <p>Access the following input field by using any of selector:  "css selector", "xpath"</p>

    <label>First Name: </label>
    <input type="text" id="text-input" class="inpt-main wrap-hr ">
    <label>Last Name: </label>
    <input type="text" id="text-input" class="inpt-main wrap-hr ">

</div>

<div class="linktest-class tiles-hr">

     <h3>Link text and Partial link text Locators</h3>
    <p>Access the below links using "link text" or "partial link text" locator </p>
    <a href="https://abhikpt.github.io/LearningwithAbhi/#">HomePage</a>
    <br/>
    <a href="https://abhikpt.github.io/LearningwithAbhi/Demo">Demo Page</a>

</div>


<div class="tagNames-class tiles-hr">
  <h3>Tag name Locator</h3>
    <p>Grab all the <b>items</b> tags using the "tag name" strategy</p>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </ul>
</div>

  
    <div class="EmployeNAme tiles-hr">
         <h3>Dropdown selection</h3>
            <label for="employer">Employer:</label>
            <select id="employer" @bind ="@SelectedEmp"  class="dropdown-main">
                <option value="">Select an employer</option>           
                    <option value="1" > Employee 01 </option>
                    <option value="2" > Employee 02 </option>
                    <option value="3" > Employee 03 </option>
                    <option value="4" > Employee 04 </option>
                    <option value="5" > Employee 05 </option>            
            </select>

        @if(!string.IsNullOrEmpty(SelectedEmp)) 
        {
            <p><strong>selected Employee is: </strong> @SelectedEmp </p>
        }       
    </div>





@code { 
   

   string? SelectedEmp ;

}
