<!-- DemoPage.razor -->
@page "/webelements"

<h1>Popup section</h1>

<p> Click here to navigate on Add product Page <a href="productpage"> Click Here </a></p>

<p> click here for popup funcationality <button @onclick="Close"> Click me</button></p>
<!-- Button to open the popup -->
<!-- PopupBox.razor -->
@if (IsOpen)
{
    <div class="popup-overlay">
        <div class="popup-content">
            <div class="popup-header">
                <h2>@Title</h2>
                <button class="close-button" @onclick="Close">X</button>
            </div>
            <div class="popup-body">
                @ChildContent
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private void Close()
    {
        IsOpen = !IsOpen;
    }
}
