@page "/bookshop"

<h3>Bookshop</h3>


<div>
    @foreach (var b in _bk)
    {
        
        <div class="Container">
            <div>Bookd ID : @b.Id  </div>
            <div class="icon">  </div>
            <div>Description : @b.Description</div>
            <b> Price : @b.Price $ </b>
        </div>

    }
</div>

@code {
    private List<BookModel> _bk = new List<BookModel>
        {
        new BookModel { Id = 1, Name = "Book 1", Price = 19.99, Description = "Description for Product 1" },
        new BookModel { Id = 2, Name = "Book 2", Price = 29.99, Description = "Description for Product 2" },
        // Add more products
    };
   
    
}
