<footer class="footer text-center text-white">

    <hr class="m-5 p-0" style="height:0.3rem; color: beige; background-color: aliceblue; ">

    <div  class="d-flex col-md-6 ">        
        <ul >
            <li><a>Home </a></li>
            <li><a>About </a></li>
            <li><a>Contact us </a></li>
            <li><a>Blog </a></li>
        </ul>

    </div>

    <p>&copy; 2024 Created By :-- Abhishekcpj</p>
</footer>


