
.header
{
    display: flex;
    justify-content: space-between;     /* to allign elements if left and right */
    align-items: center;
    padding: 0.05rem;
    background-color: #6b84f0; /* Optional background color */
    /* border-bottom: 0.01rem solid #ccc; Optional border */
    color:black;    

}




