@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4">           
            <a href="Demo" target="_self">DemoSite</a>
            <a href="#" target="_blank">Home</a>
            <a href="Login" target="_blank">Login</a>
            
            
       
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



