@page "/checkout"
@inject CartService CartService
@inject NavigationManager Navigation

<h3>Checkout</h3>

@if (CartService.CartItems.Count == 0)
{
    <span>Your cart is empty.</span>
}
else
{
    <EditForm Model="@address" OnValidSubmit="SubmitOrder">
        <DataAnnotationsValidator />
        <ValidationSummary />
         <h4>Please enter your shippinng address</h4>
        <div class="form-group" >           
            <div class="input">
                <label for="name">Name:</label>
                <InputText id="name" class="form-control" @bind-Value="address.Name" />
            </div>
            <div class="input">
                <label for="address1">Address 1:</label>
                <InputText id="address1" class="form-control" @bind-Value="address.Address1" />
            </div>
            <div class="input"> 
                <label for="Address2">Address 2:</label>
                <InputText id="Address2" class="form-control" @bind-Value="address.Address2" />
            </div>
            <div class="input">
                <label for="City">City:</label>
                <InputText id="City" class="form-control" @bind-Value="address.City" />
            </div>
            <div class="input">
                <label for="State">State:</label>
                <InputText id="State" class="form-control" @bind-Value="address.State" />
            </div>
            <div class="input">
                <label for="ZipCode">ZipCode:</label>
                <InputText id="ZipCode" class="form-control" @bind-Value="address.ZipCode" />
            </div>
            <div class="input">
                <label for="Email">Email:</label>
                <InputText id="Email" class="form-control" @bind-Value="address.Email" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Place Order</button>
    </EditForm>
}

@code {
    @* private Order order = new Order(); *@
    private AddressModel address = new AddressModel();

    private void SubmitOrder()
    {
        @* CartService.ClearCart(); *@
        Navigation.NavigateTo("order-confirmation");
    }
}
