@page "/Demo1"
@using LearningwithAbhi.Shared
@inject NavigationManager Navigation

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="Demo1">Demo</a></li>
    <li class="breadcrumb-item"><a href="employees">Employees</a></li>/
  </ol>
</nav>

<div class="slider-container">
  <div class="slider">
      <div class="slides">
                @foreach (var demo in Demos)
            {
                <div class="slide ">                   
                    <div class="slide-content">
                        <h2>@demo.Title</h2>
                        <p>@demo.Description </p>                      
                       <button @onclick="(() => NavigateToProducts(demo.DemoUrl))">Navigate to</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@code {

     private void NavigateToProducts(string url)
    {
        Navigation.NavigateTo(url);
    }

    private int slideIndex = 0;

    // Define a simple class for demo information
    public class DemoInfo
    {
        public string Title { get; set; } = string.Empty ;
        public string? Description { get; set; }
        public string? ImageUrl { get; set; }
        public string DemoUrl { get; set; } = string.Empty;
    }

    // Define your demo pages here
    private List<DemoInfo> Demos = new List<DemoInfo>
    {
        new DemoInfo
        {
            Title = "Eccomerce site",
            Description = "Click on link to navigate on eccomerce demo page",
            ImageUrl = "https://via.placeholder.com/150",
            DemoUrl = "products"
        },

        new DemoInfo
        {
            Title = "WebElements Page",
            Description = "Click on link to navigate on webElements page",
            ImageUrl = "https://via.placeholder.com/150",
            DemoUrl = "webelements"
        },
        // Add more demo pages as needed

         new DemoInfo
        {
            Title = "Bookfilter Page",
            Description = "Click on link to navigate on book filter page",
            ImageUrl = "https://via.placeholder.com/150",
            DemoUrl = "library"
        },

          new DemoInfo
        {
            Title = "Webtools Page",
            Description = "Click on link to navigate Webtools page",
            ImageUrl = "https://via.placeholder.com/150",
            DemoUrl = "webtools"
        },

          new DemoInfo
        {
            Title = "samplepagetest",
            Description = "Click on link to navigate samplepagetest ",
            ImageUrl = "https://via.placeholder.com/150",
            DemoUrl = "samplepagetest"
        }
    };



    private void PlusSlides(int n)
    {
        slideIndex += n;
        if (slideIndex >= Demos.Count)
        {
            slideIndex = 0;
        }
        else if (slideIndex < 0)
        {
            slideIndex = Demos.Count - 1;
        }
    }
}

