<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entertain</title>
    <link rel="stylesheet" href="../CSS/Menu_button" />

    <link rel="stylesheet" href="../css/PageCon.css"/>

</head>
<body>

<h1>Entertain your self</h1>

                <li><a href="../index.html">Home</a></li>
                <li><a href="Education.html" target="_self">Education</a></li>
                <li><a href="Calci.html">Calculation</a></li>
                <li><a href="Entertainment.html">Entertainment</a></li>
                <li><a href="Blogs.html">Blogs</a></li>
                <li><a href="Contct.html">Contact us</a></li>
                <li><a href="About.html" target="_blank">About</a></li>
    <p>
        Guy's i am providing a lot of resource that will navigate you to the different website.
        You can select any option listed below and the after clicking on the link you will navigate to download/watch 
        part.
    </p>


</body>
</html>