@page "/webtools"
@using Microsoft.AspNetCore.Components


<h3>Webtools</h3>

<div class="cards-container">
  
        <div class="card" @onclick="NavigateToPdfConv">
        <h4>ConvertToPdf</h4>       
         </div>

        <div class="card" @onclick="NavigateToCalculator">
        <h4>calculator</h4>
         </div>

        <div class="card" @onclick="NavigateToDownloader">
        <h4>Downloader</h4>       
         </div>

        <div class="card" @onclick="NavigateToPage4">
        <h4>Tool 1</h4>        
         </div>

        <div class="card" @onclick="NavigateToPage5">
        <h4>Tool 2</h4>       
         </div>
    

</div>

@code {
   
        // Navigate to corresponding pages
    private void NavigateToPdfConv() => NavigationManager.NavigateTo("/ConvertToPdf");
    private void NavigateToCalculator() => NavigationManager.NavigateTo("/calculator");
    private void NavigateToDownloader() => NavigationManager.NavigateTo("/Downloader");
    private void NavigateToPage4() => NavigationManager.NavigateTo("/tool4");
    private void NavigateToPage5() => NavigationManager.NavigateTo("/tool5");
       
    

 

    [Inject]
    private NavigationManager NavigationManager { get; set; }

 
}
