@page "/webtools"
@using Microsoft.AspNetCore.Components
@using LearningwithAbhi.Client.Pages.Tech;


<h3>Webtools</h3>

<div class="cards-container">
  
        <div class="card" @onclick=" () => ShowContent(typeof(ConvertIntoPdf))">
        <h4>ConvertToPdf</h4>       
         </div>

        <div class="card" @onclick=" () => ShowContent(typeof(Calculator))">
        <h4>calculator</h4>
         </div>

        <div class="card" @onclick=" () => ShowContent(typeof(Imageresizer))">
        <h4>Downloader</h4>       
         </div>

        <div class="card" @onclick=" () => ShowContent(typeof(IncomeTaxCalculator))">
        <h4>income-tax-calculator</h4>        
         </div>

        <div class="card" @onclick=" () => ShowContent(typeof(ConvertIntoPdf))">
        <h4>Resize Images</h4>       
         </div>
         
         <div class="card" @onclick=" () => ShowContent(typeof(NumberConversion))">
        <h4>Number Conversion</h4>       
         </div>

</div>  


<div class="content-container">
    @currentContent
</div>




 @code {

    private RenderFragment currentContent;

    private void ShowContent(Type contentType)
    {
        currentContent = builder =>
        {
            builder.OpenComponent(0, contentType);
            builder.CloseComponent();
        };
    }
    }